 {% extends 'blog/layout.html' %}
 {% load static %}
 {% block title %} Контакты {% endblock %}

{% block static %}
<link rel="stylesheet" href="{% static 'blog/css/contacts.css' %}">
{% endblock %}

{% block content %}
<div class="contacts-container">
    <h1 class="title-contacts">Контакты</h1>
    
    <div class="contact-section">
        <h2>Техническая поддержка</h2>
        <p>Возникла проблема с устройством? Мы найдем для вас лучший вариант поддержки</p>
        <p>Телефон 8 (800) 555-82-35</p>
        <p>Режим работы Ежедневно с 10:00 до 20:00</p>
        <br>
    </div>

    <div class="contact-section">
        <h2>Сотрудничество и реклама</h2>
        <p>Принимаем предложения по совместному продвижению продуктов и услуг</p>
        <p>example233@gmail.com</p>
        <br>
    </div>

</div>
{% endblock %}